.dropdown {
  gap: 0.5rem;
}

button {
  align-items: center;
  padding: 0.5rem;
  border: none;
}
.thematique {
  background-color: var(--beige);
  border-radius: 10px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
  font-family: cursive;
  width: 400px;
  padding: 1.5rem 0;
}

.drop {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

select {
  padding: calc(var(--text-spacing) * 1.25);
  //width: clamp(calc(var(--text-spacing)*16), calc(var(--imagery-spacing)*100), (var(--text-spacing)*32));
  border-radius: 13.62px;
  background-color: var(--white);
  color: var(--brown);
  font-size: medium;
  outline: none;
  border: none;
}
