body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  font-size: medium;
  opacity: 1;
}

.button {
  all: unset;
  cursor: pointer;
  padding: var(--text-spacing);
  margin: 0 0 var(--imagery-spacing) 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: calc(var(--text-spacing) * 10);
  background-color: var(--beige);
  font-size: x-large;
  box-shadow: 0 0 calc(var(--imagery-spacing) * 0.5)
    calc(var(--imagery-spacing) * 0.1) #424242;
  opacity: 0.8;
  border-radius: 13.62px;
}

.button:hover {
  width: calc(var(--text-spacing) * 15);
  font-size: xx-large;
}

.answ-one {
  background-color: var(--yellow);
}

.answ-two {
  background-color: var(--green);
}

.answ-three {
  background-color: var(--red);
}

.answ-four {
  background-color: var(--brown);
  color: var(--second-font-color);
}

section > p {
  margin: calc(var(--text-spacing)*18)
          calc(var(--text-spacing)*13)
          calc(var(--text-spacing)*9)
          calc(var(--text-spacing)*13);
  padding: var(--text-spacing);
  background-color: var(--beige);
  font-size: x-large;
  box-shadow: 0 0 calc(var(--imagery-spacing)*0.5) calc(var(--imagery-spacing)*0.1) #424242;
  opacity: 0.8;
  border-radius: 13.62px;
}
