body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  color: var(--font-color);
  opacity: 1;
}

.countdown {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
  border-radius: 50%;
  font-size: large;
  font-weight: bold;
  box-shadow: 0 0 calc(var(--imagery-spacing) * 0.5)
    calc(var(--imagery-spacing) * 0.1) #424242;
  opacity: 0.8;
}

.timeUp,
.pulse {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
  border-radius: 50%;
  color: var(--cinabre);
  font-weight: 700;
  opacity: 0.8;
}

.pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(219, 23, 2, 0.8);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(219, 23, 2, 0);
  }
}
