.filterCss {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.filtergene {
  display: flex;
  gap: 50vh;
  margin-top: 15vh;
  margin-bottom: 10vh;
  padding: 0;
}
