body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  font-size: medium;
  opacity: 1;
}

.button {
  all: unset;
  cursor: pointer;
  padding: var(--text-spacing);
  margin: 0 0 var(--imagery-spacing) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--text-spacing) * 20);
  background-color: var(--beige);
  font-size: x-large;
  box-shadow: 0 0 calc(var(--imagery-spacing) * 0.5)
    calc(var(--imagery-spacing) * 0.1) #424242;
  opacity: 0.8;
  border-radius: 13.62px;
  font-size: clamp(0.8rem, 5vw, 1.3rem);
  font-family: cursive;
}

.answ-one {
  background-color: var(--yellow);
}

.answ-two {
  background-color: var(--green);
}

.answ-three {
  background-color: var(--red);
}

.answ-four {
  background-color: var(--brown);
  color: var(--second-font-color);
  margin-bottom: 50px;
}

.question {
  margin: calc(var(--text-spacing) * 12) calc(var(--text-spacing) * 1)
    calc(var(--text-spacing) * 2) calc(var(--text-spacing) * 1);
  padding: var(--text-spacing);
  background-color: var(--beige);
  font-size: x-large;
  box-shadow: 0 0 calc(var(--imagery-spacing) * 0.5)
    calc(var(--imagery-spacing) * 0.1) #424242;
  opacity: 0.8;
  border-radius: 13.62px;
  font-size: clamp(0.8rem, 5vw, 1.5rem);
}

.scoring {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
}
