body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  font-size: medium;
  opacity: 1;
}

.button {
  all: unset;
  cursor: pointer;
  padding: var(--text-spacing);
  margin: 0 0 var(--imagery-spacing) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--text-spacing) * 20);
  background-color: var(--beige);
  font-size: x-large;
  box-shadow: 0 0 calc(var(--imagery-spacing) * 0.5)
    calc(var(--imagery-spacing) * 0.1) #424242;
  opacity: 0.9;
  border-radius: 13.62px;
  font-size: clamp(0.8rem, 5vw, 1.3rem);
}

.answ-one {
  background-color: var(--yellow);
}

.isGood {
  transform: rotate(360dg);
}

.answ-two {
  background-color: var(--green);
}

.answ-three {
  background-color: var(--red);
}

.answ-four {
  background-color: var(--brown);
  color: var(--second-font-color);
  margin-bottom: 50px;
}

.question {
  margin: calc(var(--text-spacing) * 12) calc(var(--text-spacing) * 1)
    calc(var(--text-spacing) * 2) calc(var(--text-spacing) * 1);
  padding: var(--text-spacing);
  background-color: var(--beige);
  font-size: x-large;
  box-shadow: 0 0 calc(var(--imagery-spacing) * 0.5)
    calc(var(--imagery-spacing) * 0.1) #424242;
  opacity: 1;
  border-radius: 13.62px;
  font-size: clamp(0.8rem, 5vw, 1.5rem);
}

.scoring {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  background-color: var(--beige);
  width: 120px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  padding-top: 10px;
}

.popup {
  width: 800px;
  height: 500px;
  border-radius: 54.5px;
  background-color: #ffe0b5;
}
.popup2 {
  width: 500px;
  height: 500px;
  border-radius: 54.5px;
  background-color: #ffe0b5;
  padding: 0;
}

.swal-text {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.swal-button:not([disabled]):hover {
  background-color: var(--brown);
}

.swal-button {
  background-color: var(--brown);
  padding: 20px 50px;
  font-size: 1.2rem;
  border-radius: 30px;
}

.swal-footer {
  text-align: center;
}

@media screen and (max-width: 420px) {
  .popup {
    width: 300px;
    height: 350px;
    padding: 0px;
  }
  .popup2 {
    width: 300px;
    height: 350px;
    padding: 0px;
  }
  .swal-text {
    font-size: 1rem;
  }
}
