body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  color: var(--font-color);
  opacity: 1;
}

section > p.questnum {
  font-size: large;
  padding: var(--text-spacing)
           calc(var(--text-spacing)*2)
           var(--text-spacing)
           calc(var(--text-spacing)*2);
}