div > h2 {
  margin: calc(var(--text-spacing) * 6.75) 0 calc(var(--text-spacing) * 1.25) 0;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  background-color: var(--beige);
  border-radius: 54.5px;
  font-size: calc(var(--text-spacing) * 2.5);
  color: var(--brown);
  opacity: 1;
  padding: 1rem 2rem;
}
.jouer {
  margin: calc(var(--text-spacing));
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  background-color: var(--beige);
  border-radius: 54.5px;
  font-size: calc(var(--text-spacing) * 1.5);
  color: var(--brown);
  opacity: 1;
  text-decoration: none;
  width: 150px;
  height: 80px;
}

div:nth-child(2) {
  padding: calc(var(--imagery-spacing) * 2) 0 calc(var(--imagery-spacing) * 2) 0;
}

div > div > h3 {
  margin: calc(var(--text-spacing) * 0.4) 0 var(--text-spacing) 0;
  padding: calc(var(--text-spacing) * 0.2) var(--text-spacing) 0
    var(--text-spacing);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  font-size: calc(var(--text-spacing) * 2.2);
  color: var(--brown);
}

.instructions {
  width: clamp(
    calc(var(--text-spacing) * 20),
    50%,
    calc(var(--text-spacing) * 40)
  );
  border-radius: 54.5px;
  background-color: var(--beige);
}

div > div > p {
  font-size: calc(var(--text-spacing) * 1.1);
  padding: 0 calc(var(--text-spacing) * 3.5) 0 calc(var(--text-spacing) * 3.5);
  text-align: center;
}

@media screen and (min-width: 568px) {
  .instructions {
    width: clamp(
      calc(var(--text-spacing) * 30),
      50%,
      calc(var(--text-spacing) * 50)
    );
  }

  div > div > p {
    font-size: calc(var(--text-spacing) * 1.2);
  }
}

@media screen and (min-width: 768px) {
  .instructions {
    width: clamp(
      calc(var(--text-spacing) * 40),
      50%,
      calc(var(--text-spacing) * 60)
    );
  }

  div > div > p {
    font-size: calc(var(--text-spacing) * 1.3);
  }
}

@media screen and (min-width: 1024px) {
  .instructions {
    width: clamp(
      calc(var(--text-spacing) * 50),
      50%,
      calc(var(--text-spacing) * 70)
    );
  }

  div > div > p {
    font-size: calc(var(--text-spacing) * 1.4);
  }
}
