body {
  margin: 0;
}

.App {
  text-align: center;
}

/* Header */

nav {
  display: flex;
  align-items: center;
  background-color: #4c2719;
}

nav img {
  height: 5rem;
  margin: 1rem;
  transform: scaleX(-1);
}

nav h1 {
  color: #ffe0b5;
  text-align: center;
  width: 100%;
  font-family: cursive;
  font-size: 2.5rem;
}
