@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Fredoka+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Fredoka+One&family=Pacifico&family=Pangolin&display=swap");

:root {
  --brown: #4c2719;
  --yellow: #ede580;
  --cinabre: #d81702;
  --red: #d35269;
  --beige: rgba(255, 224, 181, 0.8);
  --white: #ffffff;
  --green: #a4af69;
  --font-color: #000000;
  --second-font-color: #ffffff;
  --text-spacing: 1rem;
  --imagery-spacing: 1vw;
  --relative-spacing: 1%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
button,
select,
input {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  font-size: medium;
  font-family: "Pangolin", cursive;
  opacity: 1;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
